<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <evadelivery>
                <active>0</active>
                <title>Eva</title>
                <name>Eva Local Delivery</name>
                <sallowspecific>0</sallowspecific>
                <show_on_frontend>0</show_on_frontend>
                <model>GoEvaCom\Integration\Model\Carrier\EvaDelivery</model>
                <islive>Yes</islive>
                <produrl>https://api.athena.staging.goeva.com</produrl>
                <stagingurl>http://192.168.1.50:5000</stagingurl>
            </evadelivery>
        </carriers>
    </default>
</config>
